body {
  margin: 0;
  display: flex;
  
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

section.conditions {
  display: flex;
  flex-direction: row;
  place-content: center;
  gap: 2rem;
  
}

section.user-input {

  
  position: relative;
  display: flex;
  flex-direction: column;
  place-items: center;
  & input {
    all: unset;
    font-family: "Fira", monospace;
    font-weight: bold;
    padding: 1rem;
    font-size: 2rem;
    outline: var(--rgb-text) 0.1rem solid;
    border-radius: 20px;
    width: 10rem;
    &.invalid-input {
      text-decoration: underline var(--rgb-text-invalid) 0.2rem dashed;
    }
  }
  & .no-plurals {
    position: absolute;
    bottom: -2rem;
    color: var(--rgb-text-invalid);
  }
}

header {
  text-align: center;
  padding: 0.5rem;
  & h1 {
    margin: 1rem;
    font-size: 3rem;
    line-height: 1.5rem;
  }
}



